.register{
    height: 100%;

    display: grid;
    place-items: center;

    &-container {

        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;

        text-align: center;

        .row, button {
            margin: 20px;
        }
    }
}